/* Stile per il menu a tendina */
nav ul ul,
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li.dropdown:hover ul,
.dropdown:hover .sub-menu {
    display: block;
}

/* Stile per i link nel menu a tendina */
nav ul ul a,
.sub-menu a {
    padding: 10px;
    color: #333;
    text-decoration: none;
    display: block;
}

nav ul ul a:hover,
.sub-menu a:hover {
    background-color: #f0f0f0;
}
