/* Stile per il body */
body {
    font-family: 'Helvetica', sans-serif; /* Carattere armonico e classico */
    color: #333; /* Colore del testo principale */
    background-color: #e6e6e6; /* Colore di sfondo */
}

/* Stile per l'header (barra di titolo) */
header {
    background-color: #574c4c; /* Colore della barra di titolo */
    color: #fff; /* Colore del testo nella barra di titolo */
    text-align: center; /* Allineamento del testo al centro */
    padding: 20px 0; /* Spaziatura interna sopra e sotto la barra di titolo */
}

/* Stile per il titolo nell'header */
header h1 {
    font-size: 24px; /* Dimensione del testo del titolo */
}

/* Stile per i link di navigazione nell'header */
header nav ul {
    list-style: none; /* Rimuovi i punti elenco */
    padding: 0; /* Rimuovi il padding predefinito */
}

header nav ul li {
    display: inline; /* Visualizza i link uno accanto all'altro */
    margin-right: 20px; /* Margine a destra tra i link di navigazione */
}

header nav ul li a {
    text-decoration: none; /* Rimuovi la sottolineatura dai link */
    color: #fff; /* Colore dei link di navigazione */
}

/* Stile per le sezioni principali */
section {
    padding: 20px; /* Spaziatura interna delle sezioni */
    background-color: #fff; /* Colore di sfondo delle sezioni principali */
    margin-bottom: 20px; /* Margine inferiore tra le sezioni */
}

/* Stile per i titoli delle sezioni */
section h2 {
    color: #574c4c; /* Colore del titolo della sezione */
}

/* Stile per i paragrafi */
p {
    line-height: 1.5; /* Altezza della riga per una lettura più facile */
}
